*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    

}

main{

    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: #00000083;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-radius: 15px;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;

}

.logo .bx {
    font-size: 24px;
    color: #ff0000;
}
.navlinks ul {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
}

.navlinks ul li a {
    color: #fff;
    font-size: 18px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth button{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: darkred;
    border: none;
}

.auth button a {
    color: #fff;
    font-size: 16px;
}

/* end of navbar */

/* beginning of hero section */

section{
    min-height: 75vh;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/assets/house.jpg");
    background-size: cover;
    background-position: center; 
}